<!DOCTYPE html>

<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>LastXXp</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="using-api.js"></script>
	</head>

	<body ng-controller="Ctrl">
		<input type="text" ng-model="user">
    		<br><br>
    	<button ng-click="getUserInfo(user)">pesquisar</button>
    			<div >


		<div >
			<ul ng-repeat="track in topTracks">
				<li>{{track.name}}</li>
			</ul>
		</div>
	</body>
</html>